.fixed-sider {
  position: fixed;
  bottom: 35px;
  right: 20px;
  z-index: 1;
}

.btn-top {
  width: 35px;
  height: 57px;
  cursor: pointer;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 20px;
  transition: all 0.5s;
  background: url('~@/assets/common/img/top.png') no-repeat;
  &:hover {
    transform: scale(0.98);
    opacity: 0.98;
  }
}