.back {
  display: block;
  padding: 10px 0 0 14px;
  font-size: 25px;
  color: #ffffff;
  vertical-align: top;
}
.setting {
  padding: 32px 24px 20px 0;
  .name {
    color: #fff;
    font-size: 27px;
    @include respond-to(lg) {
      font-size: 20px;
    }
    @include respond-to(md) {
      font-size: 16px;
    }
  }
  .btns {
    display: flex;
  }

  .setting-con {
    margin-top: 40px;
  }
  .avatar {
    text-align: center;
  }
  .avatar-uploader {
    display: inline-block;
  }
  :global {
    .ant-avatar {
      display: block;
      margin: 0 auto;
    }
    .ant-upload {
      overflow: hidden;
    }
    p {
      margin-top: 15px;
      font-size: 30px;
      line-height: 48px;
      color: $white;
      text-align: center;
      @include respond-to(lg) {
        font-size: 20px;
      }
      @include respond-to(md) {
        font-size: 16px;
      }
    }

    .ant-col-19 {
      flex-flow: row nowrap;

      .ant-form-item {
        display: inline-flex;
        width: calc(50% - 46px);
        margin: 0 23px;
      }

      .setting-textarea {
        width: calc(100% - 46px);
      }
    }

    .ant-col {
      label {
        color: $white;
        font-size: 30px;
        line-height: 48px;
      }

      input {
        border-radius: 4px;
        border: solid 2px #006366;
        height: 59px;
        line-height: 59px;
        color: #a6a6a6;
        font-size: 27px;
        background: none;
        margin-bottom: 35px;
        @include respond-to(lg) {
          font-size: 20px;
        }
        @include respond-to(md) {
          font-size: 16px;
        }
      }
      .ant-input-disabled {
        border: solid 2px #333;
      }
      textarea {
        border-radius: 4px;
        border: solid 2px #006366;
        color: #a6a6a6;
        font-size: 27px;
        background: none;
        margin-bottom: 35px;
        @include respond-to(lg) {
          font-size: 20px;
        }
        @include respond-to(md) {
          font-size: 16px;
        }
      }

      .ant-btn {
        height: 60px;
        color: $white;
        border-radius: 10px;
        font-size: 30px;
        margin-right: 20px;
        border-color: #c8354e;
      }
      @include respond-to(lg) {
        label,
        input,
        .ant-btn,
        textarea {
          font-size: 20px;
        }
      }
      @include respond-to(md) {
        label,
        input,
        .ant-btn,
        textarea {
          font-size: 16px;
        }
      }
      .ant-btn-default {
        background: transparent;
        color: $white;

        padding-left: 30px;
        padding-right: 30px;
      }

      .ant-btn-primary {
        // border: none;
        width: 178px;
        background-color: #c8354e;
      }
    }
    .ant-select .ant-select-selector {
      background-color: transparent;
      border: 2px solid #006366;
      font-size: 27px;
      padding: 10px 11px 6px;
      color: $white;
      @include respond-to(lg) {
        font-size: 20px;
      }
      @include respond-to(md) {
        font-size: 16px;
      }
    }
    .ant-select .ant-select-selector {
      height: 59px;
      line-height: 59px;
      .ant-select-selection-item {
        display: inline-block;
        height: 30px;
        line-height: 30px;
      }
    }
    .ant-select {
      .anticon {
        color: #fff;
        font-size: 16px;
      }
      .ant-select-clear {
        margin-top: -10px;
        background-color: #020611;
        height: 24px;
        width: 24px;
      }
      .ant-select-clear .anticon {
        color: $green;
      }
    }
  }
}

:global {
  .pop-pwd {
    .ant-modal {
      padding-bottom: 0;
      border: 1px solid $green;
    }

    .ant-modal-content {
      background-color: rgba(0, 0, 0, 0.9);
    }

    .ant-modal-close-x {
      .anticon {
        color: $green;
        font-size: 26px;
      }
    }

    .ant-modal-header {
      background: transparent;
      border-bottom-color: $green;
    }

    .ant-modal-footer {
      padding: 20px 16px;
      border-top-color: $green;
    }

    .ant-input,
    .ant-input-affix-wrapper {
      border-radius: 4px;
      border: solid 2px #006366;
      color: #a6a6a6;
      font-size: 20px;
      background: none;
      line-height: 40px;
      @include respond-to(lg) {
        font-size: 18px;
      }
      @include respond-to(md) {
        font-size: 14px;
      }
    }

    .ant-input-password .anticon-eye-invisible {
      height: 15px;
      width: 25px;
      background: url(../../../assets/news/img/sp.png) 0 0 no-repeat;

      svg {
        display: none;
      }
    }

    .ant-input-password .anticon-eye {
      height: 16px;
      width: 25px;
      background: url(../../../assets/news/img/sp.png) 0 -15px no-repeat;

      svg {
        display: none;
      }
    }

    .ant-modal-title {
      color: $white;
      text-align: center;
      font-size: 32px;
      line-height: 46px;
      @include respond-to(lg) {
        font-size: 28px;
      }
      @include respond-to(md) {
        font-size: 24px;
      }
    }

    .ant-form-item-label > label {
      color: $white;
      font-size: 20px;
      @include respond-to(lg) {
        font-size: 18px;
      }
      @include respond-to(md) {
        font-size: 14px;
      }
    }

    .ant-btn {
      font-size: 22px;
      height: 50px;
      min-width: 150px;
      // line-height: 32px;
      box-sizing: border-box;
    }

    .ant-btn-default {
      border-color: $green;
      background-color: transparent;
      color: #fff;
    }
  }
}
