.back {
  display: block;
  padding: 10px 0 0 14px;
  font-size: 25px;
  color: #ffffff;
  vertical-align: top;
}
.main {
  padding: 80px 14px 0;
  display: flex;
}
.img-box {
  width: 519px;
  height: 586px;
  border-radius: 4px;
  border: solid 3px #006366;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}
.radio-btn {
  :global {
    .ant-radio-button-wrapper {
      width: 207px;
      height: 52px;
      border-radius: 10px;
      border: solid 3px $green;
      font-size: 20px;
      text-align: center;
      line-height: 48px;
      background: transparent;
      color: $white;
      &:before {
        display: none;
      }
      &:focus {
        outline: none;
        border: none;
      }
      &:focus-within {
        box-shadow: none;
      }
    }
    .ant-radio-button-wrapper-checked {
      background-color: $green;
      &:hover {
        color: $white;
      }
    }
  }
}
.content-box {
  margin-left: 16px;
}
.form-main {
  margin: 10px 35px;
  .cancel-btn {
    margin-left: 0;
    width: 100%;
  }
  :global {
    .ant-form-horizontal .ant-form-item-label {
      text-align: left;
      label {
        display: inline-block;
        color: $white;
        font-size: 20px;
        line-height: 40px;
        &:before {
          display: none;
        }
      }
    }
    .ant-input,
    .ant-input-affix-wrapper {
      background-color: transparent;
      border: 1px solid $green;
      font-size: 20px;
      padding: 5px 11px;
      color: $white;
    }
    .ant-input-password-icon.anticon {
      color: $white;
    }
    .ant-form-item {
      margin-bottom: 27px;
    }
    .ant-form-item .ant-form-item {
      margin-bottom: 0;
    }
  }
}
