.sign-page {
  display: flex;
  overflow: hidden;
  .sign-banner {
    position: relative;
    flex: 1;
    background: url(../../assets/news/pic/sign1.png) 0 0 no-repeat;
    // background-size: contain;
    h3 {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      font-size: 50px;
      color: $white;
      text-align: center;
      // word-break: break-all;
      transform: translate(-50%, -50%);
    }
  }
  .sign-main {
    min-width: 580rpx;
    width: 60%;
  }
  :global {
    .ant-tabs {
      color: $white;
    }
  }
}
.sign-box {
  width: 620px;
  margin: 0 auto;
  padding: 110px 0;
}
.tab-box {
  width: 620px;
  :global {
    .ant-tabs-tab {
      // margin-left: 19px;
      // background-color: #000;
      padding: 13px 0;
      border-radius: 10px;
      border: 2px solid $green;
      width: 178px;
      text-align: center;
    }
    .ant-tabs-tab-btn {
      width: 100%;
      font-size: 20px;
    }
    .ant-tabs-tab + .ant-tabs-tab {
      margin-left: 19px;
    }
    .ant-tabs-nav::before,
    .ant-tabs-bottom > .ant-tabs-nav::before,
    .ant-tabs-nav::before,
    .ant-tabs-bottom > div > .ant-tabs-nav::before {
      right: 90px;
      left: 120px;
      border-bottom: 2px solid $green;
    }
    .ant-tabs-nav .ant-tabs-ink-bar,
    .ant-tabs-nav .ant-tabs-ink-bar {
      display: none;
    }
    .ant-tabs-tab.ant-tabs-tab-active {
      background-color: $green;
    }
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      color: $white;
    }
  }
}
.form-box {
  width: 575px;
  .form-send {
    margin-left: 14px;
    width: 122px;
    height: 42px;
    background-color: #004e52;
    border-radius: 10px;
    border: solid 1px #00cacb;
    transition: all 0.3s;
    font-size: 16px;
    &:hover {
      background-color: $green;
    }
  }
  .form-submit {
    width: 577px;
    height: 42px;
    background-color: $green;
    border-radius: 10px;
    font-size: 16px;
    &:hover {
      background-color: $greenHover;
    }
  }
  .tip {
    padding-bottom: 15px;
    width: 556px;

    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0px;
    color: $white;
    white-space: nowrap;
  }
  :global {
    .ant-form-horizontal .ant-form-item-label {
      display: none;
    }
    .ant-input,
    .ant-input-affix-wrapper {
      background-color: transparent;
      border: 1px solid $green;
      font-size: 16px;
      padding: 8px 11px;
      color: $white;
      border-radius: 10px;
    }
    .ant-input-password-icon.anticon {
      color: $white;
    }
    .ant-form-item {
      margin-bottom: 27px;
    }
    .ant-form-item .ant-form-item {
      margin-bottom: 0;
    }
    .ant-input-password .anticon-eye-invisible {
      height: 15px;
      width: 25px;
      background: url(../../assets/news/img/sp.png) 0 0 no-repeat;
      svg {
        display: none;
      }
    }
    .ant-input-password .anticon-eye {
      height: 16px;
      width: 25px;
      background: url(../../assets/news/img/sp.png) 0 -15px no-repeat;
      svg {
        display: none;
      }
    }
  }
}
