.line {
  height: 24px;
  background-image: url(../../assets/guilds/line.png);
  background-size: 100% 100%;
}
.gamers-guilds {
  height: 674px;
  margin-bottom: 146px;
  h3 {
    font-size: 50px;
    line-height: 60px;
    color: $white;
    margin: 110px 0 20px 20px;
  }
  .gamers-list-con {
    width: 100%;
    display: flex;
    float: left;
    dl {
      padding-top: 233px;
      dt {
        span {
          display: block;
          text-align: center;
        }
        span.avatar {
          width: 55px;
          height: 55px;
          margin: 0 auto 13px;
        }
        span.name {
          font-size: 19px;
          line-height: 36px;
        }
        span.score {
          font-size: 26px;
          line-height: 36px;
          margin-bottom: 21px;
          i {
            font-size: 14px;
            margin-left: 10px;
          }
        }
      }
      dd.img {
        margin: 0 auto;
        background: url(../../assets/gamers/img/gamers_sprite.png);
      }
      dd.txt {
        margin-top: 20px;
        text-align: center;
      }
    }
    dl:nth-child(1) {
      order: 2;
      padding-top: 150px;
      dt {
        span.name {
          font-size: 26px;
          line-height: 36px;
        }
        span.score {
          font-size: 35px;
          line-height: 36px;
          margin-bottom: 21px;
        }
      }
      dd.img {
        width: 238px;
        height: 173px;
        background-position: 0 0;
      }
      margin-right: 23px;
    }
    dl:nth-child(2) {
      order: 1;

      dd.img {
        width: 149px;
        height: 130px;
        background-position: -265px 0;
      }
      margin-right: 23px;
    }
    dl:nth-child(3) {
      order: 3;
      dd.img {
        width: 113px;
        height: 113px;
        background-position: -458px 0;
      }
    }
    .gamers-list-table {
      order: 4;
      margin-left: 75px;
      height: 605px;
      background-color: #061216;
      border-radius: 10px;
      border: solid 0px #ffffff;
      flex-grow: 1;
      padding: 24px 15px;

      :global {
        .ant-tabs-top > .ant-tabs-nav::before {
          border: none;
        }
        .ant-tabs-nav-list {
          height: 52px;
          .ant-tabs-tab {
            margin-left: 0;
          }
          .ant-tabs-ink-bar {
            display: none;
          }
          .ant-tabs-tab-active {
            height: 52px;
            padding: 0;
            background: none;
            .ant-tabs-tab-btn {
              background-color: #00cacb;
              border-radius: 10px;
              padding: 0 15px;
              height: 52px;
            }
          }
          .ant-tabs-tab-btn {
            padding: 0 15px;
            height: 52px;
            border-radius: 10px;
            border: solid 1px #00cacb;
            display: inline-block;
            line-height: 52px;
            font-size: 16px;
            cursor: pointer;
          }
        }
      }

      .table-tab {
        margin-bottom: 17px;
        li {
          padding: 0 15px;
          height: 52px;
          border-radius: 10px;
          border: solid 1px #00cacb;
          display: inline-block;
          line-height: 52px;
          font-size: 16px;
          cursor: pointer;
        }
        li.active {
          background-color: #00cacb;
          border-radius: 10px;
        }
      }

      .table-list {
        li {
          height: 62px;
          background-color: #00191c;
          border-radius: 10px;
          border: solid 0px #ffffff;
          margin-bottom: 9px;
          padding: 0 25px;
          font-size: 20px;
          line-height: 62px;
          min-width: 540px;

          span {
            display: block;
            float: left;
          }
          span.num {
            width: 22px;
            text-align: center;
          }
          span.avatar {
            img {
              width: 42px;
              height: 42px;
            }
            margin: 0 14px 0 20px;
          }
          span.info {
            font-size: 20px;
            line-height: 20px;
            i {
              font-size: 13px;
            }
            padding: 10px 0;
          }
          span.score {
            float: right;
            font-size: 20px;
            i {
              font-size: 12px;
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
}
