.empty {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  &.small {
    top: 5%;
    margin-left: -100px;
    :global {
      .ant-empty-image {
        width: 200px;
        height: auto;
        img {
          width: 100%;
        }
      }
    }
  }
  :global {
    .ant-empty-image {
      height: auto;
    }
    .ant-empty-description {
      margin-top: 15px;
      color: $green;
      font-size: 16px;
    }
  }
  .desc {
    margin-top: 10px;
    text-align: center;
    color: $green;
  }
}
