.wrapper {
  max-width: 1650px;
}

.title {
  background: rgb(121, 242, 157);
}

.cm-tit {
  font-size: 55px;
  font-weight: bold;
  color: $white;
}

.banner {
  height: 805px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  color: $white;
  .wrapper {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    background-repeat: no-repeat;
    background-position: right center;
  }
  .info {
    width: 700px;
  }
  .tit {
    font-size: 55px;
    line-height: 65px;
    margin-bottom: 15px;
    color: $white;
    @include lineRow(3);
  }
  .desc {
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 48px;
    letter-spacing: -1px;
    @include lineRow(8);
    font-weight: 300;
  }
  .btn-download {
    width: 197px;
    height: 60px;
    line-height: 56px;
    border-radius: 10px;
    text-align: center;
    font-size: 22px;
    margin-bottom: 45px;
    padding-top: 0;
    padding-bottom: 0;
    &:before {
      content: '';
      position: static;
      display: inline-block;
      vertical-align: middle;
      width: 36px;
      height: 35px;
      @extend .cm-spr;
      background-position: 0 -105px;
      margin-right: 5px;
      opacity: 1;
    }
  }
}

.share {
  margin-bottom: 74px;
}

.video-swiper {
  overflow: hidden;
  color: $white;
  .cm-tit {
    margin: 90px 0 15px;
    line-height: 48px;
    font-weight: bold;
    font-size: 50px;
  }
  .desc {
    font-size: 30px;
    line-height: 36px;
    font-weight: 300;
  }
}

.news-swiper {
  height: 920px;
  overflow: hidden;
  background: #0d122c url('~@/assets/index/img/bg-news.jpg') bottom right
    no-repeat;
  margin-bottom: 108px;
  .txt-top {
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    margin: 82px 0 18px;
  }
  .tit {
    font-size: 100px;
    font-weight: bold;
    line-height: 48px;
    margin-bottom: 26px;
    color: $white;
  }
  .desc {
    font-size: 30px;
    font-weight: 300;
    line-height: 36px;
    margin-bottom: 33px;
    width: 720px;
  }
}

.photo-text {
  margin-bottom: 100px;
}

.advisors {
  margin-bottom: 80px;
  padding-top: 100px;
  .wrapper {
    width: auto;
    min-width: 1200px;
  }
  .list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &.type-1 { // 一行最多显示5个
      figure {
        width: 283px;
        margin: 0 23px 50px;
        @include respond-to(lg) {
          width: 228px;
          margin: 0 24px 50px;
          img {
            height: 228px;
          }
        }
        @include respond-to(md) {
          width: 190px;
          margin: 0 23px 50px;
          img {
            height: 190px;
          }
        }
      }
    }
    // 默认一行4个
    figure {
      width: 283px;
      height: 500px;
      margin: 0 60px 50px;
      @include respond-to(lg) {
        width: 240px;
        height: 440px;
        margin: 0 50px 50px;
        img{
          height: 240px;
        }
      }
      @include respond-to(md) {
        width: 230px;
        height: 396px;
        margin: 0 23px 90px;
        img {
          height: 230px;
        }
      }
    }
  }
  .cm-tit {
    margin-bottom: 50px;
    text-align: center;
  }
  figure {
    text-align: center;
    margin: 0 23px;
    &:nth-child(5n-4) {
      .intro {
        &:after {
          background: #7f68b9;
        }
      }
    }
    &:nth-child(5n-3) {
      .intro {
        &:after {
          background: #00e9e9;
        }
      }
    }
    &:nth-child(5n-2) {
      .intro {
        &:after {
          background: #91f36e;
        }
      }
    }
    &:nth-child(5n-1) {
      .intro {
        &:after {
          background: #faf378;
        }
      }
    }
    &:nth-child(5n) {
      .intro {
        &:after {
          background: #ffa55f;
        }
      }
    }
  }
  .figure-inner {
    cursor: pointer;
    &:hover {
      .intro {
        height: 140px;
      }
    }
  }
  img {
    width: 100%;
    height: 283px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 30px;
  }
  .name {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 25px;
  }
  .intro {
    height: 0;
    font-size: 12px;
    line-height: 16px;
    color: $white;
    text-align: left;
    transition: all 0.5s;
    overflow: hidden;
    text-align: justify;
    &:after {
      content: '';
      display: block;
      height: 8px;
      margin-top: 20px;
    }
    p {
      padding: 0 8px;
      max-height: 112px;
      @include lineRow(11);
      overflow-y: scroll;
      text-overflow: clip;
      -webkit-box-orient: horizontal;
    }
  }
}

.team-swiper {
  margin-bottom: 294px;
  .cm-tit {
    line-height: 60px;
    margin-bottom: 32px;
    text-align: center;
  }
}

.investors {
  margin-bottom: 153px;
  .wrapper {
    max-width: 1308px;
  }
  .cm-tit {
    margin-bottom: 80px;
    text-align: center;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  li {
    width: 20%;
    padding: 10px 20px;
    text-align: center;
    overflow: hidden;
  }
  img {
    max-width: 100%;
    max-height: 150px;
    object-fit: contain;
  }
}
