// 公共的sass变量

/*白色*/

$white: #fff;

/*绿色*/
$green: #00cacb;
$greenHover: #288585;
/*红*/
$red: #c8354e;

%ellipsis-basic {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin ellipsis($width: 100%) {
  @extend %ellipsis-basic;
  width: $width;
}

@mixin lineRow($num: 2) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $num;
  -webkit-box-orient: vertical;
}

@mixin hidden($extend: true) {
  @if $extend {
    @extend %hidden;
  } @else {
    display: none !important;
    visibility: hidden;
  }
}

%hidden {
  @include hidden(false);
}

@function toRem($px, $base: 14) {
  @return calc($px / $base) * 1rem;
}
$breakpoints: (
  'lg': 'only screen and ( max-width: 1681px)',
  'md': 'only screen and ( max-width: 1367px)',
) !default;
@mixin respond-to($breakpoint) {
  $query: map-get($breakpoints, $breakpoint);

  @media #{if(type-of($query) == 'string', unquote($query), inspect($query))} {
    @content;
  }
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  @include respond-to(lg) {
    width: 1400px;
  }
  @include respond-to(md) {
    width: 1200px;
  }
}
/*动画*/
.img-box {
  overflow: hidden;
  img {
    transform: scale3d(1, 1, 1);
    transition: transform 0.3s;
  }
  &:hover {
    img {
      transform: scale3d(1.1, 1.1, 1.1);
    }
  }
}

/* 公用雪碧图 */
.cm-spr {
  background: url('~@/assets/common/img/spr.png') no-repeat;
}

/* 翻页数字样式 */
.sp-num {
  position: relative;
  display: inline-block;
  width: 107px;
  height: 168px;
  line-height: 168px;
  text-align: center;
  overflow: hidden;
  background: #efefef;
  border-radius: 16px;
  margin-right: 12px;
  color: #555d66;
  &:before, &:after {
    content: "";
    position: absolute;
    top: 50%;
    // background: url('~@/assets/common/img/bg_num.png') no-repeat;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGsAAAAxCAMAAADqdKevAAAAn1BMVEUAAABeXl7q6+3T09Pv7/C7vcDz9PXj5OXt7u/U1tfLzM1iYmLHyMnx8vT19vff4OH5+vv3+Pn4+frNzs/c3d7X2dro6era29xubm5xcXHv8PK7vLyMjIy6uruUlJTP0NHl5uesrK3w8fK3uLlmZmZoaGj7/P0GCxfr7e6RkZH9/v7Q0dF1d33ExcawsrPm5+je3+CjpaaEhIUiJi8dIislZDa7AAAAAXRSTlMAQObYZgAAAZ9JREFUWMPd2ElW21AQheErCetJVmdjdbYwNgR3wZCEZP9rC6aeuRvQZcA/qtl3To3qFM74qs44HP4+fbQ7VRi/+u3J+nc4IH/w/QkeMH5vAQFshrX1Gtxh/PqMAJrctxZZBFCnVvQisgjAVVY9FVkE0G4t9yyyCCAJrTYVWQRQ3FjHRmQRQFxYq05kEcA8topaZBHAbWnFv0UWAcyuoxNZBDCbW2Ursghgfx0TkUUA+1trXogsAvg585UiiwCtvdraX3boE1kEECfW0YksAjg630JkEcC2trohuNu24bi1rs8IwDVWOgT9ejJ2r1lGAFVqRUMgKSOAOrI2Q7CcRmP3kmUE0G2sxRDc34zfMiOAbmFN3y2M3zIjgGZq5SrrE/i+1uc6JyKLAFxnNbnIIoDQ+Z5FFgEUiRU2IosAeL6JLAK0KrVVoSysR5VFAOWjtXIiiwDilZX8ElkEECe+VmQRQBFeE1kEsGp9KosAwsrnghMgsAjApb5aZBFAnfsi0Q4JIP1hrfMMgk4Bgcufbbfrz/cTaDrtrMufrcdXdf4P1wpQun4zlncAAAAASUVORK5CYII=') no-repeat;
    width: 50%;
    height: 49px;
    margin-top: -25px;
  }
  &:before {
    left: 0;
    background-position: left center;
  }
  &:after {
    right: 0;
    background-position: right center;
  }
}
