.ico {
  background: url("../../assets/gamefi/img/ico.png") no-repeat;
  display: block;
}
.ico-srearch{height:26px;width:26px;background-position: 0 0;}
.ico-blocks{height:30px;width:31px;background-position: -36px 0;}
.ico-list{height:30px;width:32px;background-position: -76px 0;}
.ico-heart{height:28px;width:33px;background-position: -116px 0;}
.ico-star{height:33px;width:34px;background-position: -157px 0;}
.ico-detaillabel{height:34px;width:277px;background-position: 0 -45px;}