.detail-wrapper {
  :global {
    .ant-breadcrumb,
    .ant-breadcrumb-link {
      color: $white;
    }
    .ant-breadcrumb-link {
      cursor: pointer;
    }

    .ant-breadcrumb-separator {
      color: $green !important;
      font-size: 32px;
    }
  }
}
.gameFi-wrapper {
  padding-bottom: 230px;
  :global {
    .ant-dropdown-trigger {
      margin: 0 18px;
      padding: 10px 16px;
      border-radius: 10px;
      border: solid 2px $green;
    }
    .ant-select {
      border-radius: 10px;
      border: solid 2px $green;
      margin: 0 15px;
    }
    .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
      height: auto;
    }
    .ant-select-arrow .anticon:not(.ant-select-suffix) {
      color: $green;
      font-size: 20px;
    }
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
      background-color: transparent;
      border: 0;
    }
    .ant-select-selection-item {
      color: $white;
      padding: 7px 30px 7px 4px !important;
    }

    .ant-dropdown-menu {
      border-radius: 4px;
      border: solid 2px $green;
    }

    .ant-space-item {
      color: $white;
    }
  }
}
.head-seletor {
  padding: 25px 0 17px;
  :global {
    .ant-select {
      width: 280px;
    }
    .ant-select-selection-item {
      font-size: 20px;
    }
  }
  h1 {
    font-size: 35px;
    color: #ffffff;
    line-height: 1;
    margin-right: 40px;
    font-weight: bold;
  }

  .wrapper {
    display: flex;
    align-items: center;
  }
}

.article {
  color: #fff;
  padding-bottom: 200px;

  h2 {
    font-size: 30px;
    color: #fff;
  }

  p {
    margin-bottom: 20px;
  }

  img {
    max-width: 100%;
  }
}

.nav-wrapper {
  padding: 10px 0;

  .navlink {
    font-weight: bold;
    padding: 0 10px;
    font-size: 30px;
  }

  .navlabel {
    font-size: 30px;
    color: #bcbcbc;
    padding: 0 10px;
    position: relative;
    top: 2px;
  }
}

.article-wrapper {
  margin-bottom: 60px;

  :global {
    .ant-tabs-nav-list {
      padding: 0 15px;
      width: 100%;
      justify-content: space-between;
    }

    .ant-tabs-tab {
      padding: 0 !important;
    }

    .ant-tabs-top > .ant-tabs-nav .ant-tabs-ink-bar,
    .ant-tabs-top > div > .ant-tabs-nav .ant-tabs-ink-bar {
      opacity: 0;
    }

    .ant-tabs-top > .ant-tabs-nav::before,
    .ant-tabs-bottom > .ant-tabs-nav::before,
    .ant-tabs-top > div > .ant-tabs-nav::before,
    .ant-tabs-bottom > div > .ant-tabs-nav::before {
      border-bottom-color: $green !important;
    }

    .ant-tabs-tab .ant-tabs-tab-btn {
      font-size: 23px;
      line-height: 59px;
      width: 240px;
      border-radius: 10px;
      text-align: center;
    }

    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      background-color: #00cacb;
      color: #fff !important;
    }
  }
}

.flex {
  display: flex;
}

.banner-wrapper {
  position: relative;
  min-height: 500px;
  .btnPre,
  .btnNext {
    position: absolute;
    top: 210px;
    z-index: 10;
    :global {
      .ant-btn {
        width: 70px;
        height: 70px;

        .anticon {
          font-size: 24px;
        }
      }
    }
  }

  .btnPre {
    left: 10px;
  }

  .btnNext {
    right: 10px;
  }
}
