@import '~@/themes/common.scss';

.list-item {
  display: flex;
  // justify-content: space-between;
  flex-wrap: wrap;
  li {
    width: 30%;
    background-color: #111;
    margin-bottom: 36px;
    margin-right: 5%;
    cursor: pointer;
    &:nth-child(3n) {
      margin: 0;
    }
    img {
      width: 100%;
      object-fit: contain;
    }
    .txt-box {
      padding: 40px 10%;
      height: 186px;
      overflow: hidden;
    }
    h6 {
      font-size: 22px;
      letter-spacing: 0px;
      color: #fffaf5;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .txt-time {
      text-align: right;
      word-break: break-all;
    }
    .txt-desc {
      font-size: 16px;
      letter-spacing: 0px;
      color: #b6b6b6;
    }
  }
}
.pagination-item {
  padding: 25px 0 230px;
}

.article-page {
  width: 80%;
  h3 {
    padding: 15px 0 38px;
    font-size: 35px;
    line-height: 31px;
    letter-spacing: -1px;
    color: #fffdfe;
    word-break: break-all;
  }
  img {
    max-width: 100%;
    object-fit: contain;
  }
  p {
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0px;
    color: #fffeff;
    word-break: break-all;
  }
}
