
.header {
  height: 128px;
  padding: 0 68px;
  border: 1px solid $white;
  border-width: 1px 0;
  background: #000;
}

.hd-wrapper {
  min-width: 1200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hd-l,
.hd-r,
.unsign,
.signed,
.uc-op {
  display: flex;
  align-items: center;
}

.logo {
  height: 81px;
  img {
    height: 100%;
  }
  h1 {
    font-size: 0;
    line-height: 0;
  }
}

.btn-menu {
  width: 36px;
  height: 35px;
  @extend .cm-spr;
  background-position: 0 0;
  margin-left: 42px;
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
  a {
    font-size: 22px;
    color: $white;
    margin-left: 36px;
    line-height: 33px;
    &:hover {
      color: $green;
    }
  }
}

.btn-help,
.op-msg:before {
  width: 36px;
  height: 35px;
  @extend .cm-spr;
}

.btn-help {
  background-position: 0 -35px;
}

.op-msg {
  position: relative;
  cursor: pointer;
  margin-left: 17px;
  &:before {
    content: '';
    display: block;
    background-position: 0 -70px;
  }
  .msg-num {
    position: absolute;
    top: 0;
    left: 15px;
    min-width: 22px;
    height: 22px;
    line-height: 22px;
    border-radius: 11px;
    background: #cc3e51;
    font-size: 11px;
    color: $white;
    text-align: center;
    padding: 0 8px;
  }
}

.op-lang {
  position: relative;
  min-width: 33px;
  height: 33px;
  line-height: 33px;
  border: 2px solid $white;
  color: $white;
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  margin-left: 23px;
  .dropdown {
    top: 32px;
  }
}

.has-dropdown {
  position: relative;
  &:hover {
    z-index: 1;
    .dropdown {
      display: block;
    }
  }
}

.dropdown {
  position: absolute;
  left: 50%;
  top: 100%;
  text-align: center;
  transform: translate(-50%, 0);
  cursor: auto;
  padding-top: 13px;
  white-space: nowrap;
  display: none;
  ul {
    padding: 28px 27px 16px;
    background: $white;
  }
  &:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 36px;
    height: 13px;
    @extend .cm-spr;
    background-position: 0 -291px;
    margin-left: -18px;
  }
  li, a {
    font-size: 14px;
    color: #000;
    line-height: 20px;
    margin-bottom: 14px;
    cursor: pointer;
    &:hover {
      color: $green;
    }
  }
}

.unsign {
  // display: none;
}

.r-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 178px;
  height: 59px;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
  padding: 0;
  margin-left: 22px;
  border-width: 3px;
  border-color: $green !important;
  &:global {
    &.ant-btn-primary {
      border-width: 0;
    }
  }
}

.signed {
  margin-left: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  display: none;

  .dropdown {
    top: 60px;
  }
}

.avatar {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.username {
  display: inline-block;
  color: $white;
  font-size: 20px;
  margin-left: 18px;
  max-width: 200px;
  @include ellipsis();
}
@media screen and (min-width: 1681px) and (max-width: 1870px) {
  .header {
    padding: 0 43px;
  }
  .btn-menu {
    margin-left: 21px;
  }
  .nav {
    a {
      margin-left: 24px;
      font-size: 22px;
    }
  }
  .op-msg {
    margin-left: 12px;
  }
  .op-lang {
    margin-left: 18px;
  }
  .r-btn {
    margin-left: 15px;
  }
}

@media screen and (min-width: 1501px) and (max-width: 1680px) {
  .header {
    height: 110px;
    padding: 0 30px;
  }
  .logo {
    height: 70px;
  }
  .btn-menu {
    margin-left: 15px;
  }
  .nav {
    a {
      margin-left: 16px;
      font-size: 21px;
    }
  }
  .op-msg {
    margin-left: 12px;
  }
  .op-lang {
    margin-left: 18px;
  }
  .r-btn {
    margin-left: 15px;
    width: 140px;
    height: 46px;
    font-size: 17px;
  }
}

@media screen and (min-width: 1301px) and (max-width: 1500px) {
  .header {
    padding: 0 21px;
    height: 85px;
  }
  .logo {
    height: 60px;
  }
  .btn-menu {
    margin-left: 15px;
  }
  .nav {
    a {
      margin-left: 16px;
      font-size: 19px;
    }
  }
  .op-msg {
    margin-left: 12px;
  }
  .op-lang {
    margin-left: 18px;
  }
  .r-btn {
    margin-left: 10px;
    width: 110px;
    height: 40px;
    font-size: 14px;
    border-width: 2px;
  }
  .signed {
    .dropdown {
      top: 55px;
    }
  }
  .avatar {
    width: 65px;
    height: 65px;
  }
  .username {
    max-width: 130px;
  }
}

@media screen and (max-width: 1300px) {
  .header {
    padding: 0 14px;
    height: 70px;
  }
  .logo {
    height: 50px;
    margin-top: -16px;
  }
  .btn-menu {
    margin-left: 10px;
  }
  .nav {
    a {
      margin-left: 12px;
      font-size: 17px;
    }
  }
  .op-msg {
    margin-left: 12px;
  }
  .op-lang {
    margin-left: 18px;
  }
  .r-btn {
    margin-left: 10px;
    width: 110px;
    height: 40px;
    font-size: 14px;
    border-width: 1px;
  }
  .signed {
    .dropdown {
      top: 50px;
    }
  }
  .avatar {
    width: 50px;
    height: 50px;
  }
  .username {
    max-width: 100px;
  }
}
