

.wallet-swiper {
  position: relative;

  .btn-prev,
  .btn-next {
    width: 32px;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
    border-radius: 50%;
    height: 32px;
    background-color: #00888a;
    display: block;
    position: absolute;
    top: 45%;
    z-index: 2;
    transform: translateY(-50%);

  }

  .btn-prev {
    left: -16px;
  }

  .btn-next {
    right: -16px;
  }

}

.empty {
  height: 110px;
  border-radius: 4px;
  border: solid 2px #006366;
  margin-top: 10px;
  margin-bottom: 10px;
}
.items {
  display: flex;
  margin-right: -20px;

}
.item {
  width: calc(20% - 20px);
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;

  &:last-child {
    margin-right: 0;
  }

  .msgs {
    width: 100%;
    background-color: #061216;
    border-radius: 4px;
    margin-bottom: 5px;
    border: solid 2px #005a5d;
  }

  .title {
    margin-top: 15px;
    padding: 0 15px;
    @include ellipsis();
    margin-bottom: 10px;
  }

  .name {
    margin-right: 10px;
    @include ellipsis(calc(70% - 10px));
  }

  .price {
    @include ellipsis(30%);
  }

  .img {
    width: 100%;
    margin-bottom: 10px;
    padding: 0 20px;
  }

  .info {
    background-color: #061c1f;
    padding: 10px 15px;
  }

  .labels {
    display: flex;
    flex-wrap: wrap;

    >label {
      display: block;
      padding: 0 10px;
      margin-right: 10px;
      margin-bottom: 4px;
      border: 1px dashed transparent;
    }

    .label-1 {
      color: #c77e22;
      border-color: #c77e22;
    }

    .label-2 {
      color: #20c836;
      border-color: #20c836;
    }

  }

  .text {
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
  }

  .yellow {
    :global {
      .ant-btn {
        background-color: #f9951e;
        border-color: #f9951e;
      }
    }
  }

  .red {
    :global {
      .ant-btn {
        background-color: $red;
        border-color: $red;
      }
    }
  }

  :global {
    .ant-btn {
      width: 100%;
    }

    .ant-image {
      width: 100%;
      height: 140px;
    }

    .ant-image-img {
      height: 100%;
      object-fit: contain;
    }
  }
}
