.banner {
  position: relative;
  margin-bottom: 80px;
  display: flex;
  max-width: calc(100% - 150px);

  :global {
    .ant-image {
      // width: 100%;
      max-width: 100%;
      height: 100%;
    }

    .ant-image-img {
      max-width: 100%;
      max-height: 100%;
      // object-fit: contain;
    }
  }

  .btnPre,
  .btnNext {
    position: absolute;
    top: 50%;
    z-index: 2;
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity 0.35s;

    :global {
      .ant-btn {
        width: 40px;
        height: 40px;

        .anticon {
          font-size: 17px;
        }
      }
    }
  }

  .btnPre {
    left: 10px;
  }

  .btnNext {
    right: 10px;
  }

  .img-left {
    width: calc(100% - 548px);
    margin-bottom: 20px;

    .imgwrap {
      border: solid 5px #00cacb;
      margin-bottom: 20px;
      position: relative;

      &:hover {
        .btnPre,
        .btnNext {
          opacity: 1;
        }
      }
    }

    .img,
    .videos {
      background-color: #ddd;
      aspect-ratio: 16/9;
      overflow: hidden;
      box-sizing: border-box;

      img,
      video {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .img-list {
      display: block;
      width: 100%;

      :global {
        .swiper-slide {
          width: 167px;
        }
      }

      .img {
        width: 100%;
        aspect-ratio: 167/94;
        overflow: hidden;
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: 20px;
        border: 0;
        opacity: 0.68;
        background-color: #ddd;
        cursor: pointer;

        &.on,
        &:hover {
          opacity: 1;
          border: solid 3px $green;
        }

        img,
        video {
          width: 100%;
          height: 100%;
          display: block;
          object-fit: cover;
        }
      }
    }
  }

  .intro-box {
    margin-left: 30px;
    font-size: 24px;
    width: 500px;
  }

  .introhead {
    display: flex;
    justify-content: space-between;

    .logo {
      max-width: 200px;
      max-height: 80px;
    }
  }

  .lines {
    padding: 30px 0;
    border-bottom: dashed 1px $green;

    &:last-child {
      border: 0;
    }
  }

  .line {
    display: flex;
    font-size: 20px;
    margin-bottom: 5px;
  }

  .linelabel {
    @include ellipsis();
    width: 50%;
  }

  .linetext {
    @include ellipsis();
    width: 50%;
    font-weight: bold;
  }

  .handles {
    display: flex;
    align-items: center;

    .item {
      margin-left: 20px;
      display: flex;
      align-items: center;

      > span {
        padding-left: 5px;
      }
    }
  }

  .btns {
    padding-top: 20px;
    display: flex;

    :global {
      .ant-btn {
        width: 100%;
        height: 59px;
        border: solid 2px $green;
        margin-right: 10px;
        background-color: transparent;
        color: #fff;
        font-size: 20px;
        border-radius: 10px;
      }

      .ant-btn-primary {
        background-color: $green;

        &:hover {
          background-color: $greenHover;
        }
      }
    }
  }
}

@media screen and (max-width: 1750px) {
  .banner {
    max-width: calc(100% - 150px) !important;
  }
}
